*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.section-one, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: auto;
    width: 100px;
    margin-left: 100px;
}

.header-links ul {
    display: flex;
    list-style: none;
    margin: 0 100px 0 0;
    padding: 0;
}

.header-links li {
    margin-left: 20px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 12px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
    padding: 0px 0px 50px 0px;
}

.hero-content img {
    max-width: 250px;
    height: auto;
    margin-left: 50px;
    margin-right: 0px;
}

.hero-text h1, p, button {
    margin-bottom: 20px;
}

.hero-main-text {
    font-size: 38px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-paragraph, .header-links {
    font-size: 12px;
    color: #e5e7eb;
}

.section-two {
    padding: 50px;
}

.section-two h2 {
    text-align: center;
    justify-content: space-around;
    margin: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    max-width: 80px;
}

.image-title {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
}

.call-to-action {
    background-color: #3882f6;
}

.button {
    background-color: #3882f6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 28px;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
  }

  .quote {
    background-color: #e5e7eb;
    padding: 80px 200px;
  }

  .quote-text {
    font-size: 26px;
    font-weight: lighter;
    font-style: italic;
  }

  .quote-attribution {
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    font-style: normal;
  }

  .call-to-action {
    padding: 25px;
    border-radius: 8px;
    margin: 100px;
    display: flex;
    font-size: smaller;
    justify-content: space-between;
    align-items: center;
  }

  .text-container {
    text-align: left;
    color: white;
  }

  .text-container h4 {
    font-size: x-small;
    font-weight: lighter;
  }

  .button-call-to-action {
    border: 2px solid white;
  }

  .footer p {
    color: #e5e7eb;
    font-size: 10px;
    text-align: center;
    padding: 20px;
  }

 